<!DOCTYPE html>
<html>
<head>
  <title>ViewData</title>
  <%= stylesheet_link_tag    "view_data/application", media: "all" %>
  <%= javascript_include_tag "view_data/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
